In [1]:
import numpy as np
import pandas as pd

from pydataset import data

from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import precision_score, make_scorer

In [2]:
tips = data("tips")
tips.head()

   total_bill   tip     sex smoker  day    time  size
1       16.99  1.01  Female     No  Sun  Dinner     2
2       10.34  1.66    Male     No  Sun  Dinner     3
3       21.01  3.50    Male     No  Sun  Dinner     3
4       23.68  3.31    Male     No  Sun  Dinner     2
5       24.59  3.61  Female     No  Sun  Dinner     4

In [3]:
X = tips[["tip", "total_bill", "size"]]
y = tips.time

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=123, test_size=.2)

In [4]:
tree = DecisionTreeClassifier(max_depth=4)

In [5]:
cross_val_score(tree, X_train, y_train, cv=4).mean()

0.6973852040816326

In [6]:
tree.fit(X_train, y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=4, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [7]:
predicted = tree.predict(X_train)
actual = y_train

precision_score(actual, predicted, pos_label="Dinner")

0.8571428571428571

In [8]:
precision_scorer = make_scorer(precision_score, pos_label="Dinner")

# decision tree with max depth of 4
cross_val_score(tree, X_train, y_train, cv=4, scoring=precision_scorer).mean()

0.7371597454477888

In [9]:
cross_val_score(DecisionTreeClassifier(max_depth=3), X_train, y_train, scoring=precision_scorer).mean()

0.7396049896049897

---
## Grid Search

In [10]:
from sklearn.model_selection import GridSearchCV

# keys are names of hyperparameters
# values are a list of values to try with hyperparameters
# different values of c for logistic regression
# different value of k for KNN
params = {
    "max_depth": range(1, 11),
    "criterion": ["gini", "entropy"]
}

# cv=4 means four-fold cross validation, i.e. k=4
grid = GridSearchCV(tree, params, cv=4)
grid.fit(X_train, y_train)

# best accuracy for out-of-sample data
grid.best_params_

{'criterion': 'entropy', 'max_depth': 3}

In [11]:
# .best_estimator_ gives us a model that is prefit with the best hyperparameters
model = grid.best_estimator_
model.score(X_test, y_test)

0.6530612244897959

In [12]:
grid.best_score_

0.7387329931972789

In [13]:
# cv_results_ gives us a dictionary with a params key that containts a list of dictionaries that represent the
# params that were used for the model

results = grid.cv_results_
results

{'mean_fit_time': array([0.00259274, 0.00205475, 0.00190198, 0.00236416, 0.00212562,
        0.00268519, 0.00196373, 0.0021407 , 0.00194359, 0.00194949,
        0.00203609, 0.00170219, 0.00191861, 0.00205612, 0.00183719,
        0.00216818, 0.00204152, 0.00202894, 0.00193447, 0.00198853]),
 'std_fit_time': array([1.91043394e-04, 3.91550361e-04, 3.01347526e-04, 1.70688638e-04,
        3.17247680e-04, 6.97003953e-04, 2.09163391e-04, 1.67477417e-04,
        2.10845683e-04, 1.19461315e-04, 3.58265586e-04, 4.32900456e-05,
        1.97211036e-04, 2.15315936e-04, 1.18746021e-04, 2.80786290e-04,
        1.74107800e-04, 1.86231849e-04, 1.22372778e-04, 1.64723990e-04]),
 'mean_score_time': array([0.00163978, 0.0009734 , 0.00096595, 0.00115192, 0.00101167,
        0.00124007, 0.00100148, 0.00123084, 0.00088692, 0.00092179,
        0.00097764, 0.00085992, 0.00090504, 0.00099993, 0.00090915,
        0.00093889, 0.00087804, 0.00100559, 0.00091189, 0.00089437]),
 'std_score_time': array([5.31991603e-04, 5.65756726e-05, 4.04302308e-05, 2.45533490e-04,
        8.70917281e-05, 1.73800879e-04, 1.29995257e-04, 2.32807258e-04,
        7.59865484e-05, 4.17421077e-05, 1.43068879e-04, 1.49400918e-05,
        3.29350048e-05, 1.43784096e-04, 7.90745644e-05, 7.93566848e-05,
        2.77214148e-05, 1.17313374e-04, 3.94513864e-05, 6.76500640e-05]),
 'param_criterion': masked_array(data=['gini', 'gini', 'gini', 'gini', 'gini', 'gini', 'gini',
                    'gini', 'gini', 'gini', 'entropy', 'entropy',
                    'entropy', 'entropy', 'entropy', 'entropy', 'entropy',
                    'entropy', 'entropy', 'entropy'],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False],
        fill_value='?',
             dtype=object),
 'param_max_depth': masked_array(data=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 8,
                    9, 10],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False],
        fill_value='?',
             dtype=object),
 'params': [{'criterion': 'gini', 'max_depth': 1},
  {'criterion': 'gini', 'max_depth': 2},
  {'criterion': 'gini', 'max_depth': 3},
  {'criterion': 'gini', 'max_depth': 4},
  {'criterion': 'gini', 'max_depth': 5},
  {'criterion': 'gini', 'max_depth': 6},
  {'criterion': 'gini', 'max_depth': 7},
  {'criterion': 'gini', 'max_depth': 8},
  {'criterion': 'gini', 'max_depth': 9},
  {'criterion': 'gini', 'max_depth': 10},
  {'criterion': 'entropy', 'max_depth': 1},
  {'criterion': 'entropy', 'max_depth': 2},
  {'criterion': 'entropy', 'max_depth': 3},
  {'criterion': 'entropy', 'max_depth': 4},
  {'criterion': 'entropy', 'max_depth': 5},
  {'criterion': 'entropy', 'max_depth': 6},
  {'criterion': 'entropy', 'max_depth': 7},
  {'criterion': 'entropy', 'max_depth': 8},
  {'criterion': 'entropy', 'max_depth': 9},
  {'criterion': 'entropy', 'max_depth': 10}],
 'split0_test_score': array([0.73469388, 0.73469388, 0.73469388, 0.71428571, 0.55102041,
        0.65306122, 0.6122449 , 0.65306122, 0.59183673, 0.63265306,
        0.73469388, 0.73469388, 0.71428571, 0.57142857, 0.67346939,
        0.65306122, 0.67346939, 0.6122449 , 0.6122449 , 0.53061224]),
 'split1_test_score': array([0.71428571, 0.71428571, 0.67346939, 0.67346939, 0.65306122,
        0.67346939, 0.67346939, 0.63265306, 0.65306122, 0.65306122,
        0.71428571, 0.71428571, 0.71428571, 0.67346939, 0.65306122,
        0.65306122, 0.65306122, 0.6122449 , 0.65306122, 0.65306122]),
 'split2_test_score': array([0.73469388, 0.73469388, 0.73469388, 0.71428571, 0.63265306,
        0.73469388, 0.73469388, 0.71428571, 0.71428571, 0.71428571,
        0.73469388, 0.73469388, 0.73469388, 0.75510204, 0.73469388,
        0.75510204, 0.69387755, 0.75510204, 0.73469388, 0.73469388]),
 'split3_test_score': array([0.75      , 0.75      , 0.75      , 0.6875    , 0.64583333,
        0.64583333, 0.625     , 0.64583333, 0.60416667, 0.625     ,
        0.75      , 0.75      , 0.79166667, 0.75      , 0.75      ,
        0.70833333, 0.70833333, 0.54166667, 0.5625    , 0.54166667]),
 'mean_test_score': array([0.73341837, 0.73341837, 0.72321429, 0.6973852 , 0.62064201,
        0.67676446, 0.66135204, 0.66145833, 0.64083759, 0.65625   ,
        0.73341837, 0.73341837, 0.73873299, 0.6875    , 0.70280612,
        0.69238946, 0.68218537, 0.63031463, 0.640625  , 0.6150085 ]),
 'std_test_score': array([0.01269117, 0.01269117, 0.02939214, 0.01761348, 0.04085658,
        0.03494729, 0.04811143, 0.0313653 , 0.04819202, 0.03504173,
        0.01269117, 0.01269117, 0.0316766 , 0.07440719, 0.04055641,
        0.04266291, 0.02088425, 0.07759412, 0.0630725 , 0.08407489]),
 'rank_test_score': array([ 2,  2,  6,  8, 19, 12, 14, 13, 16, 15,  2,  2,  1, 10,  7,  9, 11,
        18, 17, 20], dtype=int32)}

In [14]:
# modify each parameter dictionary such that it also contains the model's average performance after cross validation
for score, p in zip(results["mean_test_score"], results["params"]):
    p["score"] = score

df = pd.DataFrame(results["params"])
df

   criterion  max_depth     score
0       gini          1  0.733418
1       gini          2  0.733418
2       gini          3  0.723214
3       gini          4  0.697385
4       gini          5  0.620642
5       gini          6  0.676764
6       gini          7  0.661352
7       gini          8  0.661458
8       gini          9  0.640838
9       gini         10  0.656250
10   entropy          1  0.733418
11   entropy          2  0.733418
12   entropy          3  0.738733
13   entropy          4  0.687500
14   entropy          5  0.702806
15   entropy          6  0.692389
16   entropy          7  0.682185
17   entropy          8  0.630315
18   entropy          9  0.640625
19   entropy         10  0.615009